<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<p>
  <%= @article.body %>
</p>
<p class="center">
  <%= image_tag @article.image.url %>
</p>

<h1 class="center-align">Comments: <%= @article.comments.count %></h1>
<div class="divider"></div>
<%= render partial: 'comments/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<p><%= link_to "back to articles list", articles_path %></p>
<p><%= link_to "delete", article_path(@article), data: {confirm: "Are you sure?"}, method: :delete %></p>
<p><%= link_to "edit", edit_article_path(@article) %></p>
